.cardsList {
  width: 98%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 1000px) {
  .cardsList {
    grid-template-columns: repeat(2, 1fr);

  }
}

